{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<section class="banner-sec">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="row">
               
               {% for post in home_posts|slice:":4" %}
                  <h1>{{ p.image_location }}</h1>
                  <div class="col-md-6 left">
                     <div class="card">
                        <img class="img-fluid" src="{{ post.image_location }}" alt="">
                        <div class="card-img-overlay"> <span class="tag tag-pill  {{ post.category }}">{{ post.category }}</span> </div>
                        <div class="card-block">
                           <div class="news-title">
                              <h2 class=" title-small"><a href='{% url "posts:detail" id=post.id %}'> {{ post.title }}</a></h2>
                           </div>
                           <p class="card-text"><small class="text-time"><em>{{ post.posted_timeago }}</em></small></p>
                        </div>
                     </div>
                  </div>
                  
            
               {% endfor %}
            
            </div>      


            
         </div>
         <div class="col-md-6 top-slider">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
               <!-- Indicators -->
               <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
               </ol>
               <!-- Wrapper for slides -->
               <div class="carousel-inner" role="listbox">
                  
                  {% for post in home_posts|slice:":4" %}
                  
                  <div class="carousel-item {% if forloop.first %} active{% endif %} ">
                     <div class="news-block">
                        <div class="news-media"><img class="img-fluid" src="{{ post.image_location }}" alt=""></div>
                        <div class="news-title">
                           <h2 class=" title-large"><a href='{% url "posts:detail" id=post.id %}'>{{ post.title}}</a></h2>
                        </div>
                        <div class="news-des">{{ post.description}}</div>
                        <div class="time-text"><strong>{{ post.posted_timeago }}</strong></div>
                        <div></div>
                     </div>
                  </div>
                  
                  {% endfor %}
                
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="section-01">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-12">
            <h3 class="heading-large">Politics</h3>
            <div class="row">
               <div class="col-lg-6">
                  <div class="card">
                     <img class="img-fluid" src='{% static "img/media-9.jpg" %}' alt="">
                     <div class="card-block">
                        <div class="news-title">
                           <a href="#">
                              <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                           </a>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="card">
                     <img class="img-fluid" src='{% static "img/media-10.jpg" %}' alt="">
                     <div class="card-block">
                        <div class="news-title">
                           <a href="#">
                              <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                           </a>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="card">
                     <img class="img-fluid" src='{% static "img/media-7.jpg" %}' alt="">
                     <div class="card-block">
                        <div class="news-title">
                           <a href="#">
                              <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                           </a>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="card">
                     <img class="img-fluid" src='{% static "img/media-8.jpg" %}' alt="">
                     <div class="card-block">
                        <div class="news-title">
                           <a href="#">
                              <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                           </a>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <aside class="col-lg-4 side-bar col-md-12">
            <ul class="nav nav-tabs" role="tablist">
               <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Latest</a> </li>
               <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Top</a> </li>
               <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Featured</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content sidebar-tabing">
               <div class="tab-pane active" id="home" role="tabpanel">
                  <div class="media">
                     <a class="media-left" href="#"> <img class="media-object" src='{% static "img/media-1.jpg" %}' alt=""> </a>
                     <div class="media-body">
                        <div class="news-title">
                           <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                        </div>
                        <div class="news-auther"><span class="time">1h ago</span></div>
                     </div>
                  </div>
                  <div class="media">
                     <a class="media-left" href="#"> <img class="media-object" src='{% static "img/media-2.jpg" %}' alt=""> </a>
                     <div class="media-body">
                        <div class="news-title">
                           <h2 class="title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a></h2>
                        </div>
                        <div class="news-auther"><span class="time">1h ago</span></div>
                     </div>
                  </div>
                  <div class="media">
                     <a class="media-left" href="#"> <img class="media-object" src='{% static "img/media-3.jpg" %}' alt=""> </a>
                     <div class="media-body">
                        <div class="news-title">
                           <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                        </div>
                        <div class="news-auther"><span class="time">1h ago</span></div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="profile" role="tabpanel">
                  <div class="media">
                     <a class="media-left" href="#"> <img class="media-object" src='{% static "img/media-4.jpg" %}' alt=""> </a>
                     <div class="media-body">
                        <div class="news-title">
                           <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                        </div>
                        <div class="news-auther"><span class="time">1h ago</span></div>
                     </div>
                  </div>
                  <div class="media">
                     <a class="media-left" href="#"> <img class="media-object" src='{% static "img/media-3.jpg" %}' alt=""> </a>
                     <div class="media-body">
                        <div class="news-title">
                           <h2 class="title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h2>
                        </div>
                        <div class="news-auther"><span class="time">1h ago</span></div>
                     </div>
                  </div>
                  <div class="media">
                     <a class="media-left" href="#"> <img class="media-object" src='{% static "img/media-2.jpg" %}' alt=""> </a>
                     <div class="media-body">
                        <div class="news-title">
                           <h2 class="title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a></h2>
                        </div>
                        <div class="news-auther"><span class="time">1h ago</span></div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="messages" role="tabpanel">
                  <div class="media">
                     <a class="media-left" href="#"> <img class="media-object" src='{% static "img/media-2.jpg" %}' alt=""> </a>
                     <div class="media-body">
                        <div class="news-title">
                           <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                        </div>
                        <div class="news-auther"><span class="time">1h ago</span></div>
                     </div>
                  </div>
                  <div class="media">
                     <a class="media-left" href="#"> <img class="media-object" src='{% static "img/media-3.jpg" %}' alt=""> </a>
                     <div class="media-body">
                        <div class="news-title">
                           <h2 class="title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h2>
                        </div>
                        <div class="news-auther"><span class="time">1h ago</span></div>
                     </div>
                  </div>
                  <div class="media">
                     <a class="media-left" href="#"> <img class="media-object" src='{% static "img/media-1.jpg" %}' alt=""> </a>
                     <div class="media-body">
                        <div class="news-title">
                           <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                        </div>
                        <div class="news-auther"><span class="time">1h ago</span></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="video-sec">
               <h4 class="heading-small">Featured Video</h4>
               <div class="video-block">
                  <div class="embed-responsive embed-responsive-4by3">
                     <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </aside>
      </div>
   </div>
</section>
<section class="section-02">
   <div class="container">
      <h3>
         <div class="heading-large">International News Section</div>
      </h3>
      <div class="row">
         <div class="col-md-4">
            <div class="card">
               <img class="img-fluid" src='{% static "img/media-1.jpg" %}' alt="">
               <div class="card-block">
                  <div class="news-title">
                     <a href="#">
                        <h2 class=" title-small">An Alternative Form of Mental Health Care Gains a Foothold</h2>
                     </a>
                  </div>
                  <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="card">
               <img class="img-fluid" src='{% static "img/media-2.jpg" %}' alt="">
               <div class="card-block">
                  <div class="news-title">
                     <a href="#">
                        <h2 class=" title-small">Delta passengers got pizza delivered to the plane</h2>
                     </a>
                  </div>
                  <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="card">
               <img class="img-fluid" src='{% static "img/media-3.jpg" %}' alt="">
               <div class="card-block">
                  <div class="news-title">
                     <a href="#">
                        <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                     </a>
                  </div>
                  <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

   
{% endblock %}